{% extends "_templates/base.twig" %}
{% block javascripts %}
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=576254322458716&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }({d: document, s: 'script', id: 'facebook-jssdk'}));
    </script>
{% endblock %}
{% block content %}
    <div class="main-content clearfix">
        <nav class="breadcrumbs small">
            <ul>
                <li><a href="{{ constant('URL') }}home"><i class="icon-home"></i></a></li>
                <li><a href="#">Hoạt động</a></li>
            </ul>
        </nav>
        <div class="grid">
            <div class="row">
                <div class="span9">
                    <!--Activity's content-->
                    <h2><strong>{{ activity.name }}</strong></h2>
                    <p>{{ activity.description }}</p>
                    <div class="margin20"></div>

                    <!-- Activity's comments-->
                    <div class="tab-control" data-role="tab-control">
                        <ul class="tabs">
                            <li><h2>Bình Luận</h2></li>
                            <li class="place-right"><a href="#_tab_1"><i class="icon-facebook"></i>Facebook</a></li>
                            <li class="place-right active"><a href="#_tab_2"><i class="icon-star"></i>VMap ({{ comments|length }})</a></li>
                        </ul>
                        <div class="frames">
                            <div class="frame" id="_tab_1">
                                <div class="fb-comments" data-href="{{ constant('URL') }}activities/detail/{{ activity.id }}" data-width="658" data-numposts="5" data-colorscheme="light"></div>
                            </div>
                            <div class="frame" id="_tab_2">
                                <div class="listview-outlook">
                                    <div class="list">
                                        <div class="list-content">
                                            <form action="{{ constant('URL') }}activities/addComment/{{ activity.id }}" method="POST">
                                                <textarea class="list-title place-right" name="comment" placeholder="Ý kiến của bạn" required></textarea>
                                                <span class="list-subtitle">&nbsp;</span>
                                                <label>
                                                    <input type="text" name="type" value="2" style="display:none;"/>
                                                </label>
                                                <input class="place-right" type="submit" name="submit_add_comment" value="Gửi" />
                                            </form>
                                        </div>
                                    </div>
                                    {% for comment in comments %}
                                        <div class="list"  id="c{{ comment.id }}" style="cursor:default;">
                                            <div class="list-content">
                                                <span class="list-icon">
                                                    <img src="{{ constant('URL') }}public/img/avatar.png" class="pull-left">
                                                </span>
                                                <span class="list-subtitle">
                                                    <span class="place-right">{{ comment.date }}</span>
                                                    {{ comment.name }}
                                                </span>
                                                <span class="list-title">
                                                    <span class="place-bottom-right"><a href="" id="l{{ comment.id }}"><i class="icon-thumbs-up"></i></a> . {{ comment.like }} <a href="" id="d{{ comment.id }}"><i class="icon-thumbs-down"></i></a> . {{ comment.dislike }}</span>
                                                    {{ comment.content }}
                                                </span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin20"></div>
                    <!-- View Map -->
                    <div class=""></div>
                </div>
                <div class="span4">
                    <div class="panel">
                        <div class="panel-header">
                            Thông tin hoạt động
                        </div>
                        <div class="panel-content">
                            <div class="countdown" data-style-background="bg-lightRed" data-role="countdown" data-stoptimer="{{ activity.startday }}"></div>
                            <p>Ngày bắt đầu: {{ activity.startday }}</p>
                            <p>Ngày kết thúc: {{ activity.endday }}</p>
                            <p>Địa điểm: <a href="">Xem bản đồ</a></p>
                        </div>
                    </div>
                    <div class="margin20"></div>
                    <div class="panel">
                        <div class="panel-header">
                            Hoạt động khác
                        </div>
                        <div class="panel-content">
                            <ul>
                                {% for activity in otherActivities %}
                                    <li><a href="{{ constant('URL') }}activities/detail/{{ activity.id }}">{{ activity.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}